# Loops in Python
- for
    - used when number of iterations(steps) is known or length of iterable is known
- while
    - used when we use a condition to iterable a program and total iterations depends on the logic

what u need to know
- for loop using iterables
- enumrate()
- zip()

iterables are 
- string
- range()
- zip()
- etc

In [4]:
name = 'raja suraj singh'
print(len(name))

16

In [6]:
for val in name :
    print(val,end=',')

r,a,j,a, ,s,u,r,a,j, ,s,i,n,g,h,

In [3]:
for i in [1,2,3,4,5,6,12,12,213]:
    print('val', i)

val 1
val 2
val 3
val 4
val 5
val 6
val 12
val 12
val 213

In [7]:
for i in range(5):
    print('yo')

yo
yo
yo
yo
yo

** range() function **
we have three variations of range function
1. range(val) -> the range stats from 0 and goes till val - 1
2. range(start, stop) -> the range starts from start value and stops as stop -1
3. range(start, stop, step) -> the range starts and stop normal, but values have a gap of step value

In [8]:
for i in range(5,10):
    print(i,end = ',')

5,6,7,8,9,

In [9]:
for i in range(-10,11):
    print(i, end='.')

-10.-9.-8.-7.-6.-5.-4.-3.-2.-1.0.1.2.3.4.5.6.7.8.9.10.

In [13]:
for i in range(5,101,5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

f-string is used as special string system for mixing variables and normal messages, for displaying better response

In [15]:
for i in range(1,11):
    print(f'2 * {i} = { 2 * i  }')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [16]:
for i in range(1,11):
    print(f'{i} {i ** 2} {i ** 3} {i ** 4} {i ** 5}')

1 1 1 1 1
2 4 8 16 32
3 9 27 81 243
4 16 64 256 1024
5 25 125 625 3125
6 36 216 1296 7776
7 49 343 2401 16807
8 64 512 4096 32768
9 81 729 6561 59049
10 100 1000 10000 100000

In [17]:
words = ['Apple', 'Balloon', 'Cherry', 'Dog', 'Elephant', 'Falcon', 'Giraffe', 'Horse']
for item in words:
    print(item)

Apple
Balloon
Cherry
Dog
Elephant
Falcon
Giraffe
Horse

In [18]:
for idx,item in enumerate(words):
    print(idx, item)
    if idx == 4: # 5 item
        print('we found the 5th item', item)

0 Apple
1 Balloon
2 Cherry
3 Dog
4 Elephant
we found the 5th item
5 Falcon
6 Giraffe
7 Horse

In [27]:
num = int(input('enter number'))
k=0
for i in range(2,num):
    if num%i==0:
        k=1
if k==1:
    print('the number is composite')
elif num==1:
    print('niether prime nor composite')    
else:
    print('the number is prime')

the number is composite

30 oct 21

In [30]:
values = [1,2,3,2,2,4,3,3,4,3,2,1,2,1]

In [31]:
sum(values)

33

In [29]:
total = 0
for i in values:
    total += i
print(total)

33

In [32]:
maximum = values[0] # by default assume first one is max
for i in values:
    if i > maximum:
        maximum = i
print(maximum)

4

In [33]:
max(values)

4

In [34]:
sum(values)/len(values)

2.357142857142857

In [37]:
numbers = [1,2,3,4,5,6,7,8,9,10]
sumEven=0
for i in numbers:
    if i%2==0:
        sumEven += i
print(sumEven)

30

# Nested Loop

In [38]:
for i in numbers:
    for j in range(3):
        print(i + j, end = ' ')

1 2 3 2 3 4 3 4 5 4 5 6 5 6 7 6 7 8 7 8 9 8 9 10 9 10 11 10 11 12

In [43]:
for i in range(1,11):
    for j in range(1,11):
        print(i**j, end=' ')
    print()

1 1 1 1 1 1 1 1 1 1
2 4 8 16 32 64 128 256 512 1024
3 9 27 81 243 729 2187 6561 19683 59049
4 16 64 256 1024 4096 16384 65536 262144 1048576
5 25 125 625 3125 15625 78125 390625 1953125 9765625
6 36 216 1296 7776 46656 279936 1679616 10077696 60466176
7 49 343 2401 16807 117649 823543 5764801 40353607 282475249
8 64 512 4096 32768 262144 2097152 16777216 134217728 1073741824
9 81 729 6561 59049 531441 4782969 43046721 387420489 3486784401
10 100 1000 10000 100000 1000000 10000000 100000000 1000000000 10000000000

In [44]:
# wap to total all the exponent value from 1 to 10 from numbers 1 to 10
total=0
for i in range(1,11):
    for j in range(1,11):
        total += i**j
print('sum is ',total)

sum is  16676686696

31 oct 21

In [ ]:
a = [1,2,3,4,5]
b = [6,7,8,9,0]
c = [2,4,7,3,8,2,9]

In [ ]:
for i,j in zip(a,b):
    print(i,j)

In [ ]:
for i,j,k in zip(a,b,c):
    print(i,j,k)

# break and continue
- break -> it stops your loop and puts the control outside it
- continue -> it is used to skip a step in the loop

In [6]:
msg ="this is super important msg"
# using continue to skip when space character is found"
for i in msg:
    if i == ' ':
        continue
    print(i, end= " ")

t h i s i s s u p e r i m p o r t a n t m s g

In [2]:
msg = [1,2,423,34,65,37,95,43,0,6,13,90,56,877,0,1233,4,3,23,34]
#stops the loop when 0 is found, by using break
for i in msg:
    if i == 0:
        break
    print(i,end=' ')
print('\nthe end')

1 2 423 34 65 37 95 43
the end