In [3]:
a=set()

In [4]:
type(a)

set

In [10]:
a.add(2)
a.add(6)
a.add(4)
a.add(9)
a.add(7)
a

{1, 2, 4, 5, 6, 7, 9, 11, 15}

In [11]:
a.update([1,2,6,9,11,15])

In [12]:
a

{1, 2, 4, 5, 6, 7, 9, 11, 15}

In [13]:
if 4 in a:
    a.remove(4)

In [14]:
a

{1, 2, 5, 6, 7, 9, 11, 15}

In [15]:
a = {'foo','bar','baz'}
b = {'baz','qux','quux'}

In [16]:
a.union(b)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [17]:
#union
a|b

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [21]:
a&b

{'baz'}

In [22]:
a.intersection(b)

{'baz'}

In [18]:
print(a.difference(b), a-b)

{'bar', 'foo'} {'bar', 'foo'}

In [19]:
a.symmetric_difference(b)

{'bar', 'foo', 'quux', 'qux'}

In [20]:
a^b

{'bar', 'foo', 'quux', 'qux'}

In [23]:
a-b

{'bar', 'foo'}

In [24]:
b-a

{'quux', 'qux'}

In [25]:
a.isdisjoint(b)

False

In [27]:
a.issubset(b)

False

In [28]:
a.issuperset(b)

False

In [29]:
if 'baz' in a:
    a.remove('baz')

In [30]:
a.pop() #random

'bar'

In [31]:
a = {1,5,7,2}
b = {5,3,8,9}

In [33]:
a<b # a is subset of b

False

In [34]:
a>=b # a is superset of b

False

In [35]:
a = {1,4,7,3,24,5,656,34,23,76,93,78}

In [37]:
print(a)

{1, 34, 3, 4, 5, 7, 76, 78, 656, 23, 24, 93}

In [38]:
for i in a:
    print(i,end=' ')

1 34 3 4 5 7 76 78 656 23 24 93

In [39]:
words = {'banana','piranha','rihanna','orange'}

In [40]:
words

{'banana', 'orange', 'piranha', 'rihanna'}

In [41]:
for i in words:
    print(i,end=" ")

banana orange piranha rihanna

# interconversion
list <-> set <-> tuple <-> list

In [42]:
x = [1,53,12,45,23,222,75,43]

In [43]:
y = set(x)
y

{1, 12, 23, 43, 45, 53, 75, 222}

In [44]:
x1 = list(y)
x1

[1, 75, 12, 45, 43, 53, 23, 222]

In [47]:
x1 = list(set(x))  # shortcut
x1

[1, 75, 12, 45, 43, 53, 23, 222]

In [48]:
t = tuple(x)
t

(1, 53, 12, 45, 23, 222, 75, 43)

In [49]:
t = tuple(y)
y

{1, 12, 23, 43, 45, 53, 75, 222}