# Creation

In [46]:
a = 'word'
print(a, type(a))

word <class 'str'>

In [47]:
b = "this is a string"
print(b, type(b))

this is a string <class 'str'>

In [48]:
c = '''this
is
a
multiline string'''
print(c, type(c))

this
is
a
multiline string <class 'str'>

In [49]:
'''what
s your
color'''

'what\ns your\ncolor'

In [50]:
x = b'hello'
# x is a bytes string(binary format)

In [51]:
print(x, type(x))

b'hello' <class 'bytes'>

In [52]:
y = r'this is \n character' # raw string

In [53]:
print(y, type(y))

this is \n character <class 'str'>

# indexing

In [54]:
word = 'hi there'

In [55]:
len(word)

8

In [56]:
word[0]

'h'

In [57]:
word[2]

' '

In [58]:
word[-1]  # python lang

'e'

In [59]:
word[len(word)-1] # other lang

'e'

In [60]:
name = 'Vijay Deenanath Chauhan'
len(name)

23

In [61]:
name[2:5]

'jay'

In [62]:
name[11:15]

'nath'

In [63]:
name[-7:]

'Chauhan'

In [64]:
name[:5]

'Vijay'

In [65]:
data = 'we are the coders'

In [66]:
data[7:]

'the coders'

```
start[start,stop,step]
```

In [67]:
name[:10:2]

'VjyDe'

In [68]:
name[:10:-1]

'nahuahC htan'

In [69]:
name[::-1] # revesing a iterable

'nahuahC htananeeD yajiV'

In [70]:
name[::2] # even indexes

'VjyDeaahCahn'

In [71]:
name[1::2] # odd indexes

'ia ennt hua'

remove first two and last two character from the sring

In [72]:
name[2:-2]

'jay Deenanath Chauh'

# String Operations
- concatenation => +
- duplication => *

In [75]:
name = "Rohan"

In [76]:
name + " singh"

'Rohan singh'

In [77]:
name + str(20)

'Rohan20'

In [78]:
new_name = "kisabe " + name

In [79]:
'ha' * 10

'hahahahahahahahahaha'

In [80]:
"_" * 10

'__________'

In [82]:
"😂" * 6   # WIN + .

'😂😂😂😂😂😂'

In [83]:
for i in range(10):
    print(i * "✔")

✔
✔✔
✔✔✔
✔✔✔✔
✔✔✔✔✔
✔✔✔✔✔✔
✔✔✔✔✔✔✔
✔✔✔✔✔✔✔✔
✔✔✔✔✔✔✔✔✔

In [86]:
ord('😁') # UNICODE VALUE

128513

In [88]:
chr(128513)

'😁'

In [92]:
for i in range(10001, 10100):
    print(chr(i), end='')

✑✒✓✔✕✖✗✘✙✚✛✜✝✞✟✠✡✢✣✤✥✦✧✨✩✪✫✬✭✮✯✰✱✲✳✴✵✶✷✸✹✺✻✼✽✾✿❀❁❂❃❄❅❆❇❈❉❊❋❌❍❎❏❐❑❒❓❔❕❖❗❘❙❚❛❜❝❞❟❠❡❢❣❤❥❦❧❨❩❪❫❬❭❮❯❰❱❲❳

# string method
- formatting function

In [103]:
data = 'This is Sparta'

In [104]:
data.upper()

'THIS IS SPARTA'

In [105]:
data.lower()

'this is sparta'

In [106]:
data.casefold()

'this is sparta'

In [108]:
data.capitalize()

'This is sparta'

In [109]:
data.title()

'This Is Sparta'

In [111]:
data.swapcase()

'tHIS IS sPARTA'

In [124]:
for i in range(1,11):
    for j in range(1,11):
        print(str(i * j).rjust(3),end=' ')
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [123]:
for i in range(1,11):
    for j in range(1,11):
        print(str(i * j).ljust(5),end=' ')
    print()

1     2     3     4     5     6     7     8     9     10
2     4     6     8     10    12    14    16    18    20
3     6     9     12    15    18    21    24    27    30
4     8     12    16    20    24    28    32    36    40
5     10    15    20    25    30    35    40    45    50
6     12    18    24    30    36    42    48    54    60
7     14    21    28    35    42    49    56    63    70
8     16    24    32    40    48    56    64    72    80
9     18    27    36    45    54    63    72    81    90
10    20    30    40    50    60    70    80    90    100

In [114]:
len(data)

14

In [118]:
data.ljust(30)

'This is Sparta                '

In [119]:
data.rjust(30)

'                This is Sparta'

In [121]:
data.center(30)

'        This is Sparta        '